In [2]:
import pandas as pd

In [4]:
vine_df = pd.read_csv('./vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EQSTM9PWRAL,3.0,0.0,0.0,N,Y
1,RBWPRK17XKIXD,5.0,0.0,0.0,N,Y
2,RRSLOAF273XFC,5.0,1.0,2.0,N,Y
3,R3S8W9Q6SWIT8O,4.0,0.0,0.0,N,Y
4,R3QQ6NSLRVBFJC,4.0,0.0,0.0,N,Y

In [11]:
high_votes = vine_df[vine_df['helpful_votes']>20]
high_votes.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y
648,RK8MUEWEUGV6V,4.0,105.0,113.0,N,N
772,R3JF2SBRHZITRZ,5.0,24.0,26.0,N,N
788,RLJN73T8WUYIR,5.0,124.0,128.0,N,Y
799,RYA9ESIATW4EC,1.0,23.0,27.0,N,N
932,R15RF9IWXWX3IH,5.0,25.0,31.0,N,N
1146,R1GNMWLUMCOC6V,5.0,21.0,23.0,N,N
1237,R2SLKTWAJ7BR9K,5.0,33.0,36.0,N,Y
1294,R1NKKJ720BC2VM,5.0,25.0,28.0,N,Y
1363,R3ATNR4AESV090,4.0,38.0,40.0,N,Y
1494,R36XRSNV1M0ADW,5.0,82.0,95.0,N,Y
1504,R203G800OB64XF,3.0,57.0,72.0,N,N
1585,R119CG8XK73M2B,5.0,77.0,77.0,N,Y
1610,RCOVDTGR8NH87,5.0,59.0,67.0,N,N
1917,RW4IF9562CRB3,5.0,26.0,29.0,N,N
2108,R1UN5FC21N9TN3,5.0,22.0,25.0,N,Y

In [13]:
high_votes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95406 entries, 57 to 5331439
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          95406 non-null  object
 1   star_rating        95406 non-null  float64
 2   helpful_votes      95406 non-null  float64
 3   total_votes        95406 non-null  float64
 4   vine               95406 non-null  object
 5   verified_purchase  95406 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.1+ MB

In [9]:
votes_ratio = high_votes[high_votes['helpful_votes']/high_votes['total_votes']>=0.5]
votes_ratio.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y

In [14]:
votes_ratio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94262 entries, 57 to 5331439
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          94262 non-null  object
 1   star_rating        94262 non-null  float64
 2   helpful_votes      94262 non-null  float64
 3   total_votes        94262 non-null  float64
 4   vine               94262 non-null  object
 5   verified_purchase  94262 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.0+ MB

In [18]:
paid_reviews=votes_ratio[votes_ratio['vine'] == "Y"]
paid_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
38366,RG70K1HMY4LXX,4.0,37.0,44.0,Y,N
145857,R1DHGTNXDXJ0GB,5.0,78.0,93.0,Y,N
150655,R3B5S3OSA8N6AO,5.0,38.0,43.0,Y,N
173012,R29X0YBS0SBIUP,5.0,56.0,74.0,Y,N
223093,R1ZEDMCU6NYC8Q,3.0,26.0,27.0,Y,N

In [17]:
unpaid_reviews=votes_ratio[votes_ratio['vine'] == "N"]
unpaid_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y

In [26]:
#count of total reviews 
Total_paid= paid_reviews["review_id"].count()
print(f'The total number of paid reviews are: {Total_paid}')
Total_unpaid= unpaid_reviews["review_id"].count()
print(f'The total number of unpaid reviews are: {Total_unpaid}')

The total number of paid reviews are: 411
The total number of unpaid reviews are: 93851

In [38]:
#count of 5 star reviews
Paid_fivestar= paid_reviews[paid_reviews["star_rating"]==5.0].count()
paid_count= Paid_fivestar['star_rating']
print(f'The total number of paid 5-star ratings are: {paid_count}')

unpaid_fivestar= unpaid_reviews[unpaid_reviews["star_rating"]==5.0].count()
unpaid_count= unpaid_fivestar['star_rating']
print(f'The total number of unpaid 5-star ratings are: {unpaid_count}')

The total number of paid 5-star ratings are: 191
The total number of unpaid 5-star ratings are: 59921

In [40]:
#Percentage of 5 star reviews 
paid_percentage= (paid_count/Total_paid)*100
print(f'The percentage of paid reviews that are 5-stars are: {paid_percentage}%')
unpaid_percentage=(unpaid_count/Total_unpaid)*100
print(f'The percentage of unpaid reviews that are 5-stars are: {unpaid_percentage}%')

The percentage of paid reviews that are 5-stars are: 46.47201946472019%
The percentage of unpaid reviews that are 5-stars are: 63.84694888706567%